.diagonalLine {
  position: absolute;
  background-color: red;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 150%;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  z-index: 1;
}